
@model CategoryModel
<form method="post"  >
    <div class="my-5">
        <input type="text" asp-for="Name"  class="form-control" placeholder="Enter Name"/>
    <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="my-5">
        <input type="text" asp-for="Description" class="form-control" placeholder="Enter Description"/>
 <span asp-validation-for="Description" class="text-danger"></span>
   
    </div>
   
    <input type="submit" class="btn-primary" value="Create" />
</form>
