@model IEnumerable<CategoryModel>
<br />
<a asp-action="Create" asp-controller="Category" class="btn bg-success" >Add Category</a>
<br /><br />
   <div class="row">
   @foreach (var item in Model)
    {
    <partial name="_CategoryCard" model="@item"></partial>
    }

 </div>
