@{
    ViewData["Title"] = "Home Page";
}


<div class = "wrapper">
        <section class = "courses" >
            <article>
                <figure>
                    <img src = "https://images.pexels.com/photos/11463203/pexels-photo-11463203.jpeg?auto=compress&cs=tinysrgb&w=330&h=300&dpr=1" alt="logo" />
                    <figcaption>Logo 1</figcaption>
                </figure>
                <hgroup>
                    <h2>Japanese Vegetarian</h2>
                    <h5><a href ="">Five Week Course</a></h5>
                </hgroup>
                <p>A five week introduction to Japanese cookery.</p>
            </article>
            <article>
                <figure>
                    <img src = "https://logo.clearbit.com/antra.com" alt="logo" />
                    <figcaption>Logo2</figcaption>
                </figure>
                <hgroup>
                    <h2>Sauces Masterclass</h2>
                    <h5><a href ="">One day workshop</a></h5>
                </hgroup>
                <p>An intensive one-day course on how to create delicious sauces</p>
            </article>
            </section>

            <aside>
                <section class ="popular-recipes">
                    <h2>Popular Recipes</h2>
                    <a href ="">Yakitori (grilled chicken)</a>
                    <a href ="">Tsukune (minced chicken patties)</a>
                    <a href ="">Okonomiyaki (savory pancake)</a>
                    <a href ="">Mizutaki (chicken stew)</a>
                </section>
<section class = "contact-details">
    <h2>Contact</h2>
    <p>Ken's workspace<br />
    09 Venus st <br /></p>
</section>
</aside>
 </div>