@model IEnumerable<RegionModel>


   @if (ViewBag.IsEdit==true)
{ 
        <div class="container">
            <di class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Region Updated Successfully. Go to <a asp-action="Index" asp-controller="Region" >Index</a> </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
}


<a asp-action="Edit" asp-controller="Region" class="btn bg-success" >Edit Region</a>
<table class="table table-striped">
  <thead>
      <tr>
          <th>Id</th>
          <th>Name</th>
      </tr>
  </thead>
  <tbody>
      @foreach(var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
            </tr>
        }
    </tbody>
</table>