@model IEnumerable<EmployeeResponseModel>

 <a asp-action="Create" asp-controller="Region" class="bg-success btn">Add Region</a>
   <div class="row">
   @foreach (var item in Model)
    {
    <partial name="_RegionCard" model="@item"></partial>
    }

 </div>