@model IEnumerable<RegionModel>
<br />
<a asp-action="Create" asp-controller="Region" class="btn bg-success" >Add Region</a>
<br /><br />
<table class="table table-striped">
  <thead>
      <tr>
          <th>Id</th>
          <th>Name</th>
      </tr>
  </thead>
  <tbody>
       @foreach(var r in Model)
        {
            <partial name="_RegionRow" model="@r"></partial>
        }
    </tbody>
</table>