@model IEnumerable<ShipperModel>
<br />
<a asp-action="Create" asp-controller="Shipper" class="btn bg-success" >Add Shipper</a>
<br /><br />
   <div class="row">
   @foreach (var item in Model)
    {
    <partial name="_ShipperCard" model="@item"></partial>
    }

 </div>

