@model RegionModel
<tr>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>
        <span>
            <a asp-controller="Region" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-controller="Region" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        </span>
    </td>
</tr>