@model IEnumerable<EmployeeResponseModel>
<br />
 <a asp-action="Create" asp-controller="Employee" class="bg-success btn">Add Employee</a><br /><br />
   <div class="row">
   @foreach (var item in Model)
    {
    <partial name="_EmployeeCard" model="@item"></partial>
    }

 </div>

        
